version: '0.0.1'

services:
  mariadb:
    image: mariadb:latest
    restart: always
    environment:
      MYSQL_USER: fsa
      MYSQL_PASSWORD: "@fsa2022"
      MYSQL_DATABASE: fastshop
      MYSQL_ROOT_USER: root
      MYSQL_ROOT_PASSWORD: "#fsr2022"
    ports:
      - "3306:3306"
  fastshop:
    build: .
    tty: true
    depends_on:
      - "mariadb"
    ports: 
      - "8080:8080"
